@using ExchangeRateProvider.Admin.Models.ProviderApiAccounts
@using ExchangeRateProvider.Domain.ExchangeRateProviders.Enums
@using ExchangeRateProvider.Contract.Commons.Helpers
@model ResponseWrapper<CreateProviderApiAccountModel>
@{
    ViewData["Title"] = "Provider ApiAccounts";
    Layout = "_Layout";
}


<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header bg-light border-bottom">
			<h5 class="mb-0">Edit Provider ApiAccounts</h5>
        </div>
		<div class="card-body">
			<form asp-controller="ProviderApiAccount" asp-action="Edit" method="post">
				@Html.HiddenFor(m => m.Response.Type)
				<div class="col">
					<div class="col-md-4 mb-3">
						<label asp-for="Response.Type" class="form-label">Provider Type:</label>
						@Html.DropDownList("Response.Type", Model.Response.ProviderTypesOptions, new { 
							@class = "form-control", 
							@placeholder = "Select Type", 
							@disabled = "disabled" 
						})
						<span asp-validation-for="Response.Type" class="text-danger"></span>
					</div>
					<div class="col-md-4 mb-3">
						<label asp-for="Response.Owner" class="form-label">Owner:</label>
						<input asp-for="Response.Owner" class="form-control" placeholder="ProviderApiAccount Owner" />
						<span asp-validation-for="Response.Owner" class="text-danger"></span>
					</div>
					<div class="col-md-4 mb-3">
						<label asp-for="Response.ProtocolType" class="form-label">Protocol Type:</label>
						@if ((int)Model.Response.Type == 4) // Xe provider
						{
							<input type="text" class="form-control"
								   value="@EnumHelper.GetEnumDisplayName(ProtocolType.ApiCall)"
								   disabled readonly />
							<input type="hidden" asp-for="Response.ProtocolType"
								   value="@((int)ProtocolType.ApiCall)" />
						}
						else
						{
							@Html.DropDownListFor(m => m.Response.ProtocolType,
																Model.Response.ProtocolTypesOptions,
																new { @class = "form-control" })
						}
						<span asp-validation-for="Response.ProtocolType" class="text-danger"></span>
					</div>
					<div class="col-md-4 mb-3">
						<label asp-for="Response.Description" class="form-label">Description:</label>
						<textarea asp-for="Response.Description" class="form-control" placeholder="Description...."></textarea>
						<span asp-validation-for="Response.Description" class="text-danger"></span>
					</div>
					<div id="credentials-section" class="col" style="display: none;">
						<div id="CryptoCompare" class="col-md-4 mb-3" style="display: none;">
							<label asp-for="Response.Credentials.ApiKey" class="form-label">Api Key:</label>
							<input asp-for="Response.Credentials.ApiKey" class="form-control" placeholder="Description...." />
							<span asp-validation-for="Response.Credentials.ApiKey" class="text-danger"></span>
						</div>
						<div id="Xe" class="col" style="display: none;">
							<div class="col-md-4 mb-3">
								<label asp-for="Response.Credentials.Token" class="form-label">Api Token:</label>
								<input asp-for="Response.Credentials.Token" class="form-control" placeholder="Token" />
								<span asp-validation-for="Response.Credentials.Token" class="text-danger"></span>
							</div>
							<div class="col-md-4 mb-3">
								<label asp-for="Response.Credentials.ApiAccount" class="form-label">Api AccountId:</label>
								<input asp-for="Response.Credentials.ApiAccount" class="form-control" placeholder="Api Account Id" />
								<span asp-validation-for="Response.Credentials.ApiAccount" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-md-4 form-check mt-3">
						<input asp-for="Response.Published" class="form-check-input" type="checkbox" />
						<label asp-for="Response.Published" class="form-check-label">Published</label>
					</div>
				</div>
                <div class="form-btn mt-4">
	                <a type="submit" href="@Url.Action("List", "ProviderApiAccount")" value="Cancel" class="btn btn-danger">Cancel</a>
	                <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<partial name="_ValidationScriptsPartial" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="~/js/sweetAlertConfig.js"></script>
<script src="~/js/SubmitForms.js"></script>
<script src="~/js/providerapiaccount.js"></script>
<script src="~/js/protocolType.js"></script>