@using ExchangeRateProvider.Admin.Models.MarketTradingPairs

@model GetMarketTradingPairListModel
@{
	ViewData["Title"] = "Market Trading Pairs";
	Layout = "_Layout";
}

<h1>@ViewData["Title"] List</h1>

<form asp-controller="MarketTradingPair" asp-action="list" method="get" class="mb-4">
	<div class="row" style="align-items: center;">
		<div class="col-md-2">
			<strong for="Type">Market:</strong>
			@Html.DropDownList("MarketId", Model.MarketIdOptions, new { @class = "form-control", @placeholder = "Select Type" })
		</div>
		<div class="col-md-2">
			<strong for="Type">Pair Currency:</strong>
			@Html.DropDownList("CurrencyId", Model.CurrencyIdOptions, new { @class = "form-control", @placeholder = "Select Type" })
		</div>
		<div class="col-md-2">
			<strong for="publish">Published:</strong>
			@Html.DropDownList("Published", Model.PublishOptions, new { @class = "form-control", @placeholder = "Select One" })
		</div>
		<div class="col-md-2 mt-4">
			<button type="submit" class="btn btn-success">Search</button>
			<a asp-controller="MarketTradingPair" asp-action="Add" class="btn btn-info">
				Create
			</a>
		</div>
	</div>
</form>

<div class="d-flex justify-content-end mb-3">
	<form asp-controller="MarketTradingPair" asp-action="List" method="get" id="pageSizeForm">
		<div class="input-group">
			<label for="Size" class="input-group-text">Items per page:</label>
			@Html.DropDownList("Size", Model.SizeOptions, new { @class = "form-select", onchange = "this.form.submit();" })
			<input type="hidden" name="index" value="@Model.PaginationResponse.Base.Index"/>
		</div>
	</form>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Pair</th>
			<th>Currency</th>
			<th>Published</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.PaginationResponse.Items)
		{
			<tr>
				<td>@item.Pair</td>
				<td>@item.Currency</td>
				<td>@(item.Published ? "✅" : "❌")</td>
				<td class="action">
					<a asp-controller="MarketTradingPair" asp-action="Edit" asp-route-id="@item.Id"
					   class="nav-link active">
						<i class="fa fa-edit"></i>
					</a>
			</tr>
		}
		</tbody>
	</table>
</div>
<nav aria-label="Market Trading Pair Pagination" class="mt-4">
	<ul class="pagination justify-content-center">
		@{
			var totalPages = Model.PaginationResponse.Base.Total;
			var currentPage = Model.PaginationResponse.Base.Index;
		}

		<li class="page-item @(currentPage <= 1 ? "disabled" : "")">
			<a class="page-link" asp-route-index="@(currentPage - 1)"
			   asp-route-size="@Model.PaginationResponse.Base.Size">Previous</a>
		</li>

		@for (int i = 1; i <= totalPages; i++)
		{
			<li class="page-item @(i == currentPage ? "active" : "")">
				<a class="page-link" asp-route-index="@i" asp-route-size="@Model.PaginationResponse.Base.Size">@i</a>
			</li>
		}

		<li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
			<a class="page-link" asp-route-index="@(currentPage + 1)"
			   asp-route-size="@Model.PaginationResponse.Base.Size">Next</a>
		</li>
	</ul>
</nav>


